/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Page background and font */
body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(
        to bottom,
        #000080 0%,
        #000080 33.33%,
        #000000 33.33%,
        #000000 66.66%,
        #ffffff 66.66%,
        #ffffff 100%
    );
}


/* Header styling */
header {
    background-color: #000080;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Gallery container */
.Gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 30px;
}

/* Each photo box */
.Gallery div {
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
}

/* Images */
.Gallery img {
    width: 200px;
    height: auto;
    display: block;
}
